html, #root {
  overflow-x: hidden;
}
#main {
  background: url("../images/bg.png");
  width: 100vw;
  height: 1010px;
}

#sw-logo {
  width: 100%;
  height: 180px;
  margin: 0 auto;
  padding-top: 5%;
}

#spaceship {
  width: 462px;
  height: 328px;
  position: absolute;
  top: 78%;
  left: 13%;
}

#image-container-right-side {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

#left-form-img {
  width: 400px;
  height: 100%;
}

#right-side {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  width: 400px;
}

#search-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
}

#discover-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: white;
  width: 260px;
  justify-content: center;
  margin: 15% auto 10% auto;
}

#planet-query-input {
  width: 301px;
  height: 40px;
  border-radius: 5px;
  margin: 0 auto;
  background: white;
  text-align: center;
  margin-bottom: 10px;
  color: black;
}

#submit-query-button {
  width: 301px;
  height: 40px;
  border-radius: 5px;
  margin: 0 auto;
  background: #de1212;
  display: flex;
  justify-content: center;
}

#magnifier-icon {
  width: 24px;
  height: 24px;
}

#button-text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: white;
  position: relative;
  top: 2px;
  margin-left: 6px;
}

#filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  column-gap: 10px;
}

.filter-items {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  color: white;
}

#planet-card {
  margin: 40px auto 0 auto;
  width: 592px;
  height: 381px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#first-row {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  height: 120px;
}

#planet-image {
  width: 74px;
  height: 74px;
}

.planet-info {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
}

#planet-info-header {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 50%;
}

.detail,
.header-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.07px;
  margin: 0 5px 0 10px;
  color: #000;
}

.planet-info-text {
  height: 26px;
  margin: 0;
  color: #000;
}

.uppercase {
  text-transform: capitalize;
}

.planet-details {
  background: #f1f1f1;
  border-radius: 10px;
  padding: 5px;
  width: 538px;
  height: 114px;
  margin-bottom: 10px;
}

.detail-header {
  position: relative;
  padding: 5px 8px;
}

.detail-header::after {
  content: "";
  position: absolute;
  left: 1%; /* To center the line horizontally */
  bottom: 0;
  width: 96%;
  height: 1px; /* Adjust as needed */
  background-color: #909090; /* Adjust color as needed */
}


#planet-info-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 40%;
  left: 46%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#footer {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f6f7f7;
  color: #4b5c68;
  height: 86px;
  bottom: 0;
}

#footer-text {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

#vertical-line {
  display: inline-block;
  height: 44px;
  border-left: 1px solid black;
  margin-left: 45px;
  margin-right: 45px;
}

.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: red;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 1%;
  top: 6%;
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}

#back-button {
  display: none;
}

.films-and-residents {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.planet-label {
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  .toast {
    font-size: 10px;
  }

  #spinner {
    left: 31%;
    top: 30%;
  }

  .planet-label {
    margin: 0px;
  }
  #back-button {
    display: flex;
    background: transparent;
    right: 10px;
    position: absolute;
    color: white;
    align-items: center;
    gap: 12px;
    margin: 20px 10px;
  }

  #back-button-arrow {
    width: 7px;
    height: 11px;
    top: 2px;
    position: relative;
  }

  #spaceship {
    left: 39%;
    top: 48%;
    width: 323px;
    height: 229px;
  }

  #left-form-img {
    width: 100%;
  }

  #search-form {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    width: 85%;
  }

  #first-row {
    flex-direction: column;
    height: 166px;
    align-items: center;
    padding: 10px 3px;
  }

  #planet-info-container {
    position: relative;
    width: 100%;
  }

  .planet-info {
    margin-left: 113px;
  }

  #planet-card {
    width: 90%;
    height: 53%;
    padding: 10px;
    right: 10px;
    position: relative;
  }

  .planet-details {
    width: 100%;
    padding: 1px;
    height: 124px;
  }

  #main {
    background-size: cover;
  }

  #vertical-line,
  #footer-text {
    display: none;
  }

  #planet-info-header {
    width: 90%;
  }
}
